<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px" />

# Python Ladder Challenge - Notebook 2

_Author:_ Tim Book

# Climb the Ladder!
Our class moves quickly! Sometimes, it feels like we make leaps in logic that are a bit too big. Learn Python _slowly_, by doing many, many examples. Problems in this notebook start out easy and progressively get harder, so that the next rung of the Python ladder is always within reach.

# Section IV: Conditionals and Loops

34) Print out the numbers 1 through 10.

In [5]:
for i in range(1,11):
    print (i)

1
2
3
4
5
6
7
8
9
10

35) Print out the odd numbers between 1 and 20 by using the third paramter to the `range()` function.

In [7]:
odd = [] 
for i in range (1,21,2):
    odd.append(i)
print (odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

36) Print out the odd numbers between 1 and 20 by checking if the number is even before printing.

In [9]:
odd = [] 
for i in range (1,21):
    if not i %2 ==0:
        odd.append(i)
print (odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

37) What is the sum of the first 100 integers? Hint: Create a variable `total` equal to zero, and increment `total` inside a loop.

In [11]:
total =0 

for i in range(100):
   total = total + i 
print (total)

4950

38) For each friend in your `friends` list, print `'PERSON IS AWESOME!'` in all caps, where `PERSON` is of course replaced with your friend's name.

In [13]:
friends = ["Alice", "Bob", "Charlie", "Debbie"]

In [14]:
friends = ["Alice", "Bob", "Charlie", "Debbie"]
for friend in friends:
    friend = friend.upper()
    print (f'{friend} IS AWESOME')

ALICE IS AWESOME
BOB IS AWESOME
CHARLIE IS AWESOME
DEBBIE IS AWESOME

39) Similar to the last problem, print `'PERSON IS AWESOME!'` for each friend in your friends list _only if their name ends in a vowel_. Otherwise, print `"person is ok..."` (all lowercase).

In [16]:
friends = ["Alice", "Bob", "Charlie", "Debbie"]
for friend in friends:
    if friend[-1] in "a" "e" "i" "o" "u":
        friend = friend.upper()
        print (f'{friend} IS AWESOME')
    else:
        friend = friend.lower()
        print (f'{friend} is ok...')

ALICE IS AWESOME
bob is ok...
CHARLIE IS AWESOME
DEBBIE IS AWESOME

40) For each number between 1 and 30 (inclusive), if a number is divisible by 3, print `'Fizz'`. Otherwise, just print the number.

In [18]:
for n in range(30):
    if n%3 ==0:
        print ('Fizz')
    else:
        print (n)

Fizz
1
2
Fizz
4
5
Fizz
7
8
Fizz
10
11
Fizz
13
14
Fizz
16
17
Fizz
19
20
Fizz
22
23
Fizz
25
26
Fizz
28
29

41) For each number between 1 and 30 (inclusive), if a number is divisible by 5, print `'Buzz'`. Otherwise, just print the number.

In [20]:
for n in range(30):
    if n%5 ==0:
        print ('Buzz')
    else:
        print (n)

Buzz
1
2
3
4
Buzz
6
7
8
9
Buzz
11
12
13
14
Buzz
16
17
18
19
Buzz
21
22
23
24
Buzz
26
27
28
29

42) **FIZZBUZZ!** For each number between 1 and 30 (inclusive),
* if a number is divisible by 3, print `'Fizz'`
* if a number is divisible by 5, print `'Buzz'`
* if a number is divisible by both 3 and 5, instead print `'FizzBuzz'`,
* otherwise, just print the number

This problem is the famous "Fizzbuzz" problem - and is a very common interview coding challenge! If you can do this without help, you're making awesome progress! Well done!

In [22]:
for n in range(30):
    if n%3 ==0:
        print ('Fizz')
    elif n%5 ==0:
        print ('Buzz')
    elif n%5 == 0 and n%3==0:
        print ('FizzBuzz')
    else:
        print (n)

Fizz
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29

43) Define some string `sentence`. If you can't think of a good one, feel free to use `fact` from the previous notebook.

In [24]:
sentence = "My name is Thanitp"

44) Count the number of vowels in `sentence` (no, y is not a vowel).
* _Hint:_ What happens if you loop through a string?

In [26]:
sentence = "My name is Thanitp"
num_vowels = 0 
for i in sentence:
    if i in "a" "e" "i" "o" "u":
        num_vowels = num_vowels+1
print ("num_vowels are",num_vowels,"charecters")

num_vowels are 5 charecters

45) Define a variable `sentence_rm` that is equal to `sentence` with all vowels removed. 
* _Hint:_ This is a tough one. Start out with an empty string and concatenate all of the consonants to it inside a loop.

In [28]:
sentence = "My name is Thanitp"
sentence_rm = ""
for i in sentence:
    if not i in  "a" "e" "i" "o" "u":
        sentence_rm = sentence_rm + i
print(sentence_rm)

My nm s Thntp

46) Create a variable `fav_number` equal to whatever is your favorite integer. Write a loop to determine if `fav_number` is prime. Recall that a prime number is any number whose only divisors are 1 and itself. For example, 6 is not prime since it's divisible by 1, 2, 3, and 6. But 7 _is_ prime since it's only divisible by 1 and 7.

In [30]:
# Favorite number chosen
fav_number = 99
# 0, 1, and any negative numbers are not prime
is_prime = fav_number > 1 

# Loop through a range of 2 through 98
for i in range(2, fav_number):
    # If the fav_number (99 in this case) is evenly divisible by 
    # the number represented by i then return False to the 
    # question "is prime?"
    if fav_number % i == 0:
        is_prime = False

is_prime

False

In [31]:
def prime_checker(fav_number):
# 0, 1, and any negative numbers are not prime
    is_prime = fav_number > 1 

# Loop through a range of 2 through 98
    for i in range(2, fav_number):
    # If the fav_number (99 in this case) is evenly divisible by 
    # the number represented by i then return False to the 
    # question "is prime?"
        if fav_number % i == 0:  # no remainder when divide
            return False
        else: return True

prime_checker(37)

True

47) A palindromic number reads the same both ways. For example, 1234321 is a palindrome. Write an `if` statement to test whether or not a number is palindromic.

In [33]:
def palin(input):
    mom = str(input)
    for i in mom:
        if mom[::-1] == mom:
            return "palindromic"
        else:
            return "It is not palindromic"

palin(1234321)

'palindromic'

48) Find the largest palindrome made from the product of two two-digit numbers.
* _Tip:_ Do not worry about the "efficiency" of your answer! The easiest answer is very inefficient.

In [35]:
#number1 to multiply
for i in range(10,99):
    print(i)
for n in range (10,99):
    print(n)

product = i*n 

result = product
print (result)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
9604

# Section V: List Comprehensions

**Disclaimer:** Many (maybe all) of these exercises can be done without a list comprehension. However, listcomps are often the easiest way to solve a problem like this. Listcomps are also optimized in Python, meaning they are also often the _fastest_ way to solve a problem. In fact, **every problem in this section can be solved in one line of code!**

---
**IMPORTANT NOTE: Consider all ranges in this section to be *inclusive*.**

49) Create a list of the numbers 1 through 10.

In [38]:
[n for n in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

50) Create a list of the squares of the numbers between 1 and 10.

In [40]:
[n**2 for n in range (1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

51) Create a list of all the even numbers between 18 and 47.

In [42]:
[n for n in range(18, 48) if n%2==0]

[18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46]

52) Create a list of the squares of the even numbers between 1 and 20.

In [44]:
[n**2 for n in range(1,21) if n%2==0]

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

53) What is the sum of the cubes of the numbers between 7 and 37?

In [46]:
sum_ = sum(x**3 for x in range(7, 38))
sum_

493768

54) Create a list of all of the numbers divisible by either 3 or 5 (or both) between 1 and 30.

In [48]:
[n for n in range (1,31) if n%3 ==0 & n%5==0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

55) Redefine this list to be all uppercase.

In [50]:
friends = ['Alice', 'Bob', 'Charlie', 'Derek']

In [51]:
[friend.upper() for friend in friends]

['ALICE', 'BOB', 'CHARLIE', 'DEREK']

56) Remove all elements from `friends` whose names do not end in a vowel.

In [53]:
friends = ['Alice', 'Bob', 'Charlie', 'Derek']
filtered_friends = [friend for friend in friends if friend[-1].lower() not in "aeiou"]
filtered_friends

['Bob', 'Derek']

57) Take the `sentence` you used earlier and remove the vowels again. This time, using a one-line list comprehension.

* _Hint:_ You'll find the `.join()` method to be useful here.

In [55]:
friends = ['Alice', 'Bob', 'Charlie', 'Derek']
no_vowels = [n for n in friends if n.lower() not in "aeiou"]
no_vowels

['Alice', 'Bob', 'Charlie', 'Derek']

58) You need to access Excel files that have names like `Jan 5.xlsx` or `Mar 15.xlsx`. Create a list of January 1 through January 31 like this. That is, create the list of: `['Jan 1.xlsx', 'Jan 2.xlsx', ... , 'Jan 31.xlsx']`.

In [57]:
Excel_files = [f'Jan {n}.xlsx' for n in range(1, 32)]
Excel_files

['Jan 1.xlsx',
 'Jan 2.xlsx',
 'Jan 3.xlsx',
 'Jan 4.xlsx',
 'Jan 5.xlsx',
 'Jan 6.xlsx',
 'Jan 7.xlsx',
 'Jan 8.xlsx',
 'Jan 9.xlsx',
 'Jan 10.xlsx',
 'Jan 11.xlsx',
 'Jan 12.xlsx',
 'Jan 13.xlsx',
 'Jan 14.xlsx',
 'Jan 15.xlsx',
 'Jan 16.xlsx',
 'Jan 17.xlsx',
 'Jan 18.xlsx',
 'Jan 19.xlsx',
 'Jan 20.xlsx',
 'Jan 21.xlsx',
 'Jan 22.xlsx',
 'Jan 23.xlsx',
 'Jan 24.xlsx',
 'Jan 25.xlsx',
 'Jan 26.xlsx',
 'Jan 27.xlsx',
 'Jan 28.xlsx',
 'Jan 29.xlsx',
 'Jan 30.xlsx',
 'Jan 31.xlsx']

59) Below is a list of amounts in euros. Create a new list, `dollars`, which is these amounts converted to U.S. dollars. There are 1.1 dollars per euro.

In [59]:
euros = [4.50, 6.70, 3.25, 9.99, 12.75, 0.35]

In [60]:
dollars = [11*dollar for dollar in euros]
dollars

[49.5, 73.7, 35.75, 109.89, 140.25, 3.8499999999999996]

60) Below is a list of heights in inches. In order to ride a roller coaster, you must be at least 5 feet tall (60 inches). Filter this list to be _only_ those heights tall enough to ride.

In [62]:
heights = [71, 48, 55, 65, 68, 60, 58, 53]

In [63]:
can_ride = [able for able in heights if able >= 60]
can_ride

[71, 65, 68, 60]

61) Repeat the above exercise, except replace the lower heights with a `None` instead of dropping them.
* _Hint:_ Python has an in-line `if` statement, sometimes called a _ternary operator_ that you might find useful here. For example:

```
print("Tall enough" if 72 > 60 else "Too short")
print("Tall enough" if 52 > 60 else "Too short")
```

In [65]:
can_ride_ = ["Tall enough"  if ok >= 60 else "None" for ok in heights ]
can_ride_

['Tall enough',
 'None',
 'None',
 'Tall enough',
 'Tall enough',
 'Tall enough',
 'None',
 'None']

62) Here are more heights below. However, this time, the information is contained in a dictionary. Create a list of the names _and ONLY the names_ of the people who are tall enough to ride the roller coaster.

* _Hint:_ How can you loop through a dictionary?

In [67]:
people = {
    'Aaron': 58,
    'Barbara': 66,
    'Clarence': 62,
    'Donovan': 55,
    'Erika': 70,
    'Fernando': 72
}

In [68]:
can_ride_name = [name for name, heights in people.items() if heights >= 60 ]
can_ride_name

['Barbara', 'Clarence', 'Erika', 'Fernando']

63) Below we have some more data on our classmates. This time, the dictionary values are test scores. A student's final grade is their _maximum_ score on these three tests. Create a list of the students' final grades.

In [70]:
people = {
    'Aaron': [87, 52, 78],
    'Barbara': [92, 79, 85],
    'Clarence': [42, 68, 55],
    'Donovan': [95, 100, 87],
    'Erika': [62, 88, 47],
    'Fernando': [84, 99, 0]
}

In [71]:
final_score = [max(score) for score in people.values()]
final_score

[87, 92, 68, 100, 88, 99]

64) Repeat the above problem, except create a _dictionary_ of the final scores, where the dictionary keys are the names, and the dictionary values are the final grade.

* _Hint:_ You can do **dictionary comprehension** to solve this problem! Yes, it exists!

In [73]:
final_score_wname = {key:max(score) for key,score in people.items()}
final_score_wname

{'Aaron': 87,
 'Barbara': 92,
 'Clarence': 68,
 'Donovan': 100,
 'Erika': 88,
 'Fernando': 99}

65) Using the two lists defined below, create the following resulting list:

`['AZ', 'BY', 'CX', 'DW', 'EV']`

* _Hint:_ Check out the `zip()` function.

In [75]:
letters_a = ['A', 'B', 'C', 'D', 'E']
letters_z = ['Z', 'Y', 'X', 'W', 'V']

In [76]:
combines = [la+lz for la,lz in zip(letters_a, letters_z)]
combines

['AZ', 'BY', 'CX', 'DW', 'EV']

66) Using `letters_a` defined in the previous problem, create the following list:

```
[
    'A is letter 1 of the alphabet',
    'B is letter 2 of the alphabet',
    ...
]
```

* _Hint:_ Checkout the `enumerate()` function.

In [78]:
letters_a = ['A', 'B', 'C', 'D', 'E']
emu = [[f'{a} is letter {n+1} of the alphabet'] for n , a in enumerate(letters_a)]
emu

[['A is letter 1 of the alphabet'],
 ['B is letter 2 of the alphabet'],
 ['C is letter 3 of the alphabet'],
 ['D is letter 4 of the alphabet'],
 ['E is letter 5 of the alphabet']]

# Section VI: Libraries, imports and some more math!

67) Import the `math` library

In [81]:
import math as mth

68) The `math` library has a lot of cool stuff in it. For this problem, evaluate the following math expressions:

a) $\sin{\frac{\pi}{2}}$

In [84]:
mth.sin(34)

0.5290826861200238

b) $\ln{\sqrt{e}}$
* _Hint:_ A logarithm with base $e$ is represented by just `log` in `math`. In fact, throughout the course, $\log$ with no subscript will always denote the natural log (ie, log base $e$).

In [86]:
n = mth.log(mth.exp(8))
n

8.0

c) $e^{3!}$

In [88]:
m = mth.exp(3)
m

20.085536923187668

69) Two popular math functions are the "round up" and "round down" functions. In computer science, we call them the "ceiling" and "floor" functions. They're used and denoted as follows:

* `ceil(3.8)` $= \lceil 3.8 \rceil = 4$
* `ceil(3.2)` $= \lceil 3.2 \rceil = 4$
* `floor(3.8)` $= \lfloor 3.8 \rfloor = 3$
* `floor(3.2)` $= \lfloor 3.2 \rfloor = 3$

We _only_ need these two functions out of the `math` library. Use an `import` statement to import _only_ these two functions and verify the above examples are true.

In [90]:
from math import ceil, floor

In [91]:
ceil(3.8)

4

70) We can also _alias_ library names if they're too long and we will be using them often. As we will do many times in this course, import the following three libraries:

* Import the `numpy` library, aliasing it as `np`
* Import the `pandas` library, aliasing it as `pd`
* Import the `matplotlib.pyplot` library and submodule, aliasing it as `plt`

In [93]:
import numpy  as np
import  pandas  as pd
import  matplotlib.pyplot as plt

71) You can also import everything from a library all at once without needing to prefix it:

`from math import *`

For this question your task is: _never, **ever**_ do this.

Why?
1. It "pollutes" the namespace with variable names that could easily be overwritten on accident.
    - For example, after the import we could accidentally define `sin = 'without'` then be surprised when `sin(0.5)` no longer works!
2. It does not show the reader which module a given function came from. 
    - For example, we see above that `ceil` came from the `math` library since it was noted in the import.
    - If we use * is much more difficult to determine which module `ceil` is from.